* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
}

.wrapper {
    margin: 0 auto;
    max-width: 800px;
}

header {
    align-items: baseline;
    background-color: #0b3b54;
    display: flex;
    padding: 24px;
}

.title {
    color: #C9A920;
    font-size: 24px;
    margin: 0 48px 0 0;
}

.menu {
    margin: 0;
}

.menu-item {
    color: #C9A920;
    font-size: 18px;
    margin: 0 6px;
    text-decoration: none;
}

.content {
    background-color: #F5F5F5;
    padding: 24px;
}

.subtitle {
    font-size: 18px;
    margin: 0 0 24px;
}

.layout {
    align-items: flex-start;
    display: flex;
}

.layout-image {
    margin-right: 12px;
}

.layout-form {
    border: 1px solid #000;
    float: right;
    padding: 12px 12px 24px;
}

.layout-form-title {
    font-size: 16px;
    font-weight: normal;
    margin: 12px 0;
}

.layout-form input {
    margin: 0 0 12px;
}